* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: rgb(160, 187, 247);
  --body-color: #e3e3e8;
  --text-color: #fff;
  --nav-link-bg: #063172;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: var(--body-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px auto ;
  text-align: center;
}

.header {
  margin: 0;
  padding-top: 25px;
  background-image: linear-gradient(
    to top,
    rgb(71, 73, 71) 50%,
    var(--header-color) 90%
  );
  display: block;
  color: var(--text-color);
  border-bottom: 10px solid rgb(71, 73, 71);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  margin: 0 0 30px 0;
  padding: 30px 0px 0px 20px;
  background-color: rgb(71, 73, 71);
  border-right: 50px double rgb(255, 182, 11);
  border-radius: 0 200% 0 0;
  letter-spacing: 5px;
  font-style: italic;
  text-align: start;
}

.nav-links {
  text-align: center;
  min-height: 10vh;
  max-height: 200px;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(249, 255, 252, 0.072);
  /* border: 2px solid black; */
}

.nav-links a {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: auto; 
  padding: 10px 30px;
  font-style: bolder;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--nav-link-bg);  
  border-radius: 5px;
  box-shadow: black 10px 5px 5px;
}

.nav-links a:hover {
  background-color: var(--text-color);
  color: var(--nav-link-bg);
  font-weight: bold;
  cursor: pointer;
  transition: color 1.5s, background-color 1.5s, transform 1.5s;
}

@media (max-width: 700px) {

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links a {
  justify-content: center;
  margin: 5px;
}

}

.grid-item:hover {
  scale: 105%;
}

img {
  min-width: 40%;
  max-width: 80%;
  max-height: 300px;
}

article {
margin-bottom: 30px;
}

.section-heading {
  margin: 30px;
  padding: 30px;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 50px;
}

.contact-info a {
  display: flex;
  flex-direction: row;
  width: justify;
  min-width: 50%;
  max-width: 80%;
  margin: auto auto 50px auto;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  text-decoration: none;
  background-color: rgb(71, 72, 71);
}

.contact-info a:hover {
  font-weight: bold;
  color: black;
  background-color: rgba(72, 182, 38, 0.606);
  transition: color 1.5s, transform 1.5s;

}