* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #063172;
    --body-color: #e3e3e8;
    --text-color: #fff;
}

html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, var(--header-color) 75%);
    color: var(--text-color);
    min-height: 100px;
    border: 5px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

.banner {
    margin: 0 -5px;
    height: 10px;   
}

.title {
    margin: auto;
    padding: auto;
    /*border: 2px solid black; */
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

.header ul {
    margin: 25px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
   /* border: 2px solid black; */
}

.header li {
    margin: 15px auto;
    font-size: 1.5em;
    font-style: italic;
    list-style: none;
    padding: 15px;
    border: 2px  solid black;
    background-image: linear-gradient(to top right, rgba(0, 100, 0, .5) 0%, rgba(0, 255, 0, 1) 100%);
    border-radius: 70px 0px;
    transform: rotate(-15deg);
    box-shadow: black 5px 5px 5px;
}

.header a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color:rgba(193, 254, 11, 0.897);
    text-decoration: underline;
}

li:hover {
    transform: rotate(10deg);
}

body {
    background-color: var(--body-color);
    font-family: inherit;
}

#AboutMe, #Work, #Contact {
    display: flex;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 5px solid black;
}

.sidebar{
    margin: auto;
    padding: 30px;
    width: 40%;
}

#AboutMe #Work #Contact, .primary {
    border-left: 5px solid black;
    width: 95%;
    margin: auto;
    padding: 10px;
}

#Work .primary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}
.main-img .sub-img, figcaption {
    text-align: center;
    margin: auto;
}

.main-img img{
    display: flex;
    border: 3px solid cyan;
    max-width: 50vw;
    margin: auto;
  }

  .sub-img img{
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    max-width: 30%;
  }

#Contact .primary {
    display: flex;
    flex-direction: column;
}

.contact-info, h3, a{
    margin: 10px auto;
    color: var(--header-color);
    text-decoration: none;
}