* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: rgb(160, 187, 247);
  --body-color: #e3e3e8;
  --text-color: #fff;
  --nav-link-bg: #063172;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--body-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}

.myface {
  margin: 20px;
  opacity: 0.95;
  border: 10px solid var(--nav-link-bg);
  border-radius: 50%;
  width: 20%;
  height: 20%;
  min-width: 150px;
}

header {
  width: 100%;
  margin: 0;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  background-image: linear-gradient(
    to top,
    rgb(71, 73, 71) 50%,
    var(--header-color) 100%
  );
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  border-bottom: 10px solid rgb(71, 73, 71);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 20px 0px 0px 20px;
  background-color: transparent;
  border-right: 40px double rgb(255, 182, 11);
  border-radius: 0 200% 0 0;

  letter-spacing: 5px;
  font-style: italic;
  text-align: start;
}

.nameface {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: auto;
}

.nav-links {
  text-align: center;
  min-height: 10vh;
  max-height: 200px;
  padding: auto;
  display: flex;
  flex-direction: row;
  width: justify;
  justify-content: space-evenly;
  background-color: rgba(249, 255, 252, 0.072);
  /* border: 2px solid black; */
}

.nav-links a {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: auto;
  padding: 10px 30px;
  font-style: bold;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--nav-link-bg);
  border-radius: 15px 0px 15px 0px;
  box-shadow: black 10px 5px 5px;
}

.nav-links a:hover {
  background-color: var(--text-color);
  color: var(--nav-link-bg);
  font-weight: bolder;
  border-radius: 0px 15px 0px 15px;
  cursor: pointer;
  transition: color 1s, background-color 1s, border-radius 1s;
}

@media (max-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-links a {
    justify-content: center;
    margin: 5px;
  }
}

@media(max-width: 300px) {
  body, header, main {
    text-align: center;
    font-size:inherit;
    margin: 0;
    padding: 0;
  }

  .grid-container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .project1 img {
    max-width: 100%;
    width: 99vw;
  }

  img {
    max-width: 100%;
    min-width: 0vw;
    min-height: 150px;
  }
}
.grid-container {
  margin: auto;
}

.grid-item img:hover {
  scale: 95%;
  opacity: 1;
  transition: opacity 2s, scale 2s;
}

img {
  margin: auto;
  width: 40vw;
  opacity: 0.5;
  max-height: 300px;
}

.project-1 img {
  max-width: 99vw;
  width: 100%;
  max-height: 100%;
}

article {
  margin-bottom: 30px;
}

.section-heading {
  margin: 30px;
  padding: 30px;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 50px;
}

.contact-info a {
  display: flex;
  flex-direction: row;
  word-wrap: wrap;
  word-break: break-all;
  width: justify;
  min-width: 50%;
  max-width: 80%;
  margin: auto auto 50px auto;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  text-decoration: none;
  background-color: rgb(72, 72, 71);
}

.contact-info a:hover {
  font-weight: bold;
  color: black;
  background-color: rgba(72, 182, 38, 0.606);
  transition: color 1.5s, transform 1.5s;
}

footer {
  text-align: center;
  margin: 30px auto;
}

footer a {
  margin: 30px auto 30px auto;
  padding: 20px;
  text-align: center;
  background-color: var(--nav-link-bg);
  color: var(--text-color);
  border-radius: 10px;
}

footer a:hover {
  background-color: var(--text-color);
  color: var(--nav-link-bg);
  transition: color 2s, background-color 2s;
}
