/* Imports */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@100;200;300;500&family=Poppins:wght@200;400&display=swap');

/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  font-weight: lighter;
  scroll-padding-top: 0rem;
  /* font-size: 24px; */
}

body {
    background: #00176a;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    font-size: 48px;
}

a {
    margin: 1em;
    padding: .5em;
    background-color: rgb(240, 132, 0);
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
}

